<!DOCTYPE html>
<!-- Vue.js додаток для розрахунку параметрів шнекового транспортера -->
<html lang="uk">
  <head>
    <title>Шнековий транспортер</title>
    <!-- Мета-теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Підключення стилів -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="src/calc_sh_t/src/calc_sh_t.css">
    
    <!-- Іконка сайту -->
    <link rel="icon" href="https://fonts.gstatic.com/s/i/materialiconsoutlined/home/v6/24px.svg">
    
    <!-- Локальні стилі -->
    <style>
      .btn-group {
        margin: 5px;
        display: flex;
        flex-direction: column;
      }
      
        .label-title {
            color: gray;
            font-size: 0.9em;
            margin-bottom: 5px;
        }
        .fixed-img {
            width: 100%;
            height: 500px;
            object-fit: contain;
        }
        .carousel-control-prev, .carousel-control-next {
            opacity: 1;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-color: rgba(146, 145, 145, 0.7);
            border-radius: 50%;
            width: 48px;
            height: 48px;
        }
    </style>

</head>

<body>
    <!-- Навігаційне меню -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://agrohelix.com.ua/">Agrohelix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="https://zavodelevator.github.io/calc_sh_t2.html">Шнековий транспортер<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://zavodelevator.github.io/sclad_sp2.html">Цільнокатана спіраль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://zavodelevator.github.io/calc_tsh.html">ТШ</a>
                </li>
            </ul>
        </div>
    </nav>

    
    <div class="container" id="distributorApp">
        <div class="card">
            <div class="card-header">
                Транспортер шкребковий
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-sm">

                      
                        <div class="card mb-3" style="max-width: 70%;">
                          <div id="tshCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block fixed-img" src="src/calc_sh_t/src/img/TSH25.jpg" :src="currentTshImage" alt="Транспортер шкребковий">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block fixed-img" src="src/calc_sh_t/src/img/banner22.jpg" :src="currentImage" alt="Вигляд механізму">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#tshCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Назад</span>
                            </a>
                            <a class="carousel-control-next" href="#tshCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Вперед</span>
                            </a>
                          </div>
                        </div>
                        
                    </div>
                    
                  <div>

                    <div class="col-sm">
                        <div class="form-group">
                            <label for="params_trans">Продуктивність транспортера</label>
                            <select class="form-control" id="params_trans" v-model="selectedTsh">
                                <option value="25">ТШ 25</option>
                                <option value="50">ТШ 50</option>
                                <option value="100">ТШ 100</option>
                                <option value="200">ТШ 200</option>
                            </select>

                            <div class="form-group">
                                <label for="length_trans">Довжина транспортера, м</label>
                                <input type="number" class="form-control" id="length_trans" placeholder="Введіть довжину">
                            </div>

                            <hr>

                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <span class="label-title">Тип короба</span>
                                <div>
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="box" checked> Розбірний
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="box"> Зварний
                                    </label>
                                </div>
                            </div>

                            <hr>
                            
                                  <div class="form-check form-switch">
                                      <input class="form-check-input radio_boonker" type="checkbox" id="flexSwitchCheckChecked_1" v-model="hasDistributor">
                                      <label class="form-check-label" for="flexSwitchCheckChecked_1">Розподільний механізм</label>
                                  </div>
                                  <div class="form-group" v-if="hasDistributor">
                                      <label for="distributorLength">Довжина розподільного механізму, м</label>
                                      <input type="number" class="form-control" id="distributorLength" v-model="distributorLength" placeholder="Введіть довжину">
                                  </div>
                                  
                                
                                  <hr>
                                  
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <span class="label-title">Тип редуктора</span>
                                <div>
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="mr" checked> Neromotori
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="mr"> IMAK
                                      </label>
                                    </div>
                                  </div>
                                </div>

                                <label for="mr">Редуктор</label>
                                <select class="form-control" id="mr">
                                    <option value="Neromotori">Neromotori 1,5 кВт 75 габарит</option>
                                    <option value="IMAK">IMAK 3 кВт 100 габарит</option>
                                </select>

                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                  <span class="label-title">Тип покриття</span>
                                  <div>
                                      
                                      <label class="btn btn-secondary active">
                                        <input type="radio" name="coating" checked>Грунт
                                      </label>
                                      <label class="btn btn-secondary">
                                          <input type="radio" name="coating">Емаль
                                      </label>
                                      <label class="btn btn-secondary">
                                          <input type="radio" name="coating">Порошкове фарбування
                                      </label>
                                      <label class="btn btn-secondary">
                                        <input type="radio" name="coating">Оцинкований
                                    </label>
                                  </div>
                              </div>
                              
  

                              </div>
                    </div>
                </div>
              </div>
        </div>
    </div>



</body>

  <!-- Vue.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="src/calc_sh_t/src/vue.js"></script>

</html>
