.body{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 500px;
   
    margin: 0, auto;
}


.body, ul, a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .body, ul, a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .body, ul, a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  .body, ul, a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

 .list_book{
     font-style: bold;
 }