.body{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 500px;
   
    margin: 0, auto;
}


ul li p a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
ul li p a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
ul li p a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
ul li p a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }