.product-block {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0;
}

.card-info p {
  margin: 0px 0;
}

.card-info .info-toggle {
  background-color: #000;
  color: #fff;
}

.card.mb-3 {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.card.mb-3.collapsed {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
