.product-block {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0;
}

.card-info p {
  margin: 0px 0;
}

.card-info .info-toggle {
  background-color: #000;
  color: #fff;
}

.card.mb-3 {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, margin 0.4s ease-in-out, padding 0.4s ease-in-out;
  will-change: max-height, opacity;
}

.card.mb-3.collapsed {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
