#main_logo {
    background-color: #D1AC00;
}







#top-banner {
    background-image: url("img/wheat-5681617_960_720.jpg");
    /* https://pixabay.com/photos/wheat-field-crops-wheat-field-5681617/ */
    background-size: cover;
}














#works {
    /*********** BUTTONS ***********/
  
  }
  #works .carousel {
    max-width: 980px;
    /* ширина всего блока */
  
    margin: 50px auto;
    width: 100%;
  }
  #works .carousel-wrapper {
    margin: 10px 30px;
    /* отступы для стрелок */
  
    overflow: hidden;
    /* скрываем содержимое, выходящее за рамки основной области */
  
    position: relative;
  }
  #works .carousel-items {
    width: 10000px;
    /* устанавливаем большую ширину для набора элементов */
  
    position: relative;
    /* позиционируем блок относительно основной области карусели */
  
  }
  #works .carousel-block {
    float: left;
    /* выстраиваем все элементы карусели в ряд */
  
    width: 210px;
    /* задаём ширину каждого элемента */
  
    height: 100%;
    overflow: hidden;
    padding: 10px;
    /* делаем оступы, чтобы элементы не сливались */
  
  }
  #works .carousel-block .work {
    display: block;
  }
  #works .carousel-block .work img {
    height: 200px;
  }
  #works .carousel-block .work p {
    font-size: 1em;
  }
  #works .carousel-button-left a,
  #works .carousel-button-right a {
    width: 50px;
    height: 50px;
    position: relative;
    top: 150px;
    cursor: pointer;
    text-decoration: none;
  }
  #works .carousel-button-left a {
    float: left;
    background: url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-128.png");
    background-size: cover;
  }
  #works .carousel-button-right a {
    float: right;
    background: url("https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-128.png");
    background-size: cover;
    transform: rotate(180deg);
  }
  













.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }













.jumbotron .vrapper{
    background-color: rgba(255, 255, 255, 0.65);
    width: 100%;
    height: 100%;
}

.main-vrapper {
    margin-left: auto;
    margin-right: auto;
}

.photo_factory {
    width: 100%;
    height: 300px;
    background-image: url("img/unit-factory.jpg");
}



.carousel-item {
    height: 400px;  
}
.carousel-item img{
    height: 400px;
    width: 400px;
}





#footer .container{
    background-color: rgba(205, 205, 205, 0.65);
    width: 100%;
}






/* carusel */

.carousel-item {
  background-image: url('./img/banner1.jpg');
  background-size: cover;
  background-position: center;
  height: 480px;
}



/* body .main-vrapper{
  background-color: rgb(228, 254, 0);
} */