.goods_1 {
    background-image: url("img/photo_1_1.jpg");
}

.goods_2 {
    background-image: url("img/photo_2_1.jpg");
}

.goods {
    width: 100%;
    height: 450px;
}


.log_div {
    margin-top: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcb815;
}
.log_div img {
    border-radius: 80px 80px;
    border-color: #fcb815;
    width: 160px;
    background: #fcb815;
}

.log_wrap {
    width: 100%;
    background: #fcb815;
}

h1 {
    margin: 20px 0 0 20px  ;
}

.img_photo_1 {    
    border-bottom: 2px solid #e8a847;
}

.img_photo_5 {    
    border-bottom: 2px solid #e8a847;
}

.img_photo_6 {    
    margin-top: 10px;
}

.grit_col_2 {    
    border-left: 2px solid #e8a847;
}


/* 
.img_photo_1 {
    
    border: 4px solid #858074; 
    background: black; 
    padding: 10px; 
} */