.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.097168;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls11{letter-spacing:-0.720000px;}
.lsd{letter-spacing:-0.444000px;}
.lse{letter-spacing:-0.275600px;}
.ls13{letter-spacing:-0.240000px;}
.ls3{letter-spacing:-0.194400px;}
.ls19{letter-spacing:-0.173200px;}
.ls9{letter-spacing:-0.137600px;}
.ls8{letter-spacing:-0.130000px;}
.ls10{letter-spacing:-0.086400px;}
.ls7{letter-spacing:-0.071200px;}
.lsb{letter-spacing:-0.035520px;}
.ls18{letter-spacing:-0.000480px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.035520px;}
.lsa{letter-spacing:0.071200px;}
.ls16{letter-spacing:0.102400px;}
.lsf{letter-spacing:0.103200px;}
.ls4{letter-spacing:0.120000px;}
.ls1{letter-spacing:0.173200px;}
.ls5{letter-spacing:0.240000px;}
.ls17{letter-spacing:0.342400px;}
.ls12{letter-spacing:0.444000px;}
.ls6{letter-spacing:0.544000px;}
.lsc{letter-spacing:0.552000px;}
.ls15{letter-spacing:0.616000px;}
.ls14{letter-spacing:0.720000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.474080px;}
._0{width:1.314720px;}
._1{width:2.493920px;}
._3{width:3.559520px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.840000px;}
.y0{bottom:0.000000px;}
.y38{bottom:78.384000px;}
.y37{bottom:89.904000px;}
.y36{bottom:101.300000px;}
.y35{bottom:112.820000px;}
.y34{bottom:124.340000px;}
.y33{bottom:135.860000px;}
.y32{bottom:147.380000px;}
.y31{bottom:158.900000px;}
.y30{bottom:170.300000px;}
.y2f{bottom:181.820000px;}
.y2e{bottom:193.340000px;}
.y2d{bottom:204.860000px;}
.y2c{bottom:216.410000px;}
.y2b{bottom:227.930000px;}
.y2a{bottom:239.330000px;}
.y29{bottom:250.850000px;}
.y28{bottom:262.370000px;}
.y27{bottom:273.890000px;}
.y26{bottom:285.410000px;}
.y25{bottom:296.810000px;}
.y24{bottom:308.330000px;}
.y23{bottom:319.850000px;}
.y22{bottom:331.370000px;}
.y21{bottom:342.890000px;}
.y20{bottom:354.410000px;}
.y1f{bottom:365.810000px;}
.y1e{bottom:377.330000px;}
.y1d{bottom:388.870000px;}
.y1c{bottom:400.390000px;}
.y1b{bottom:411.910000px;}
.y1a{bottom:423.430000px;}
.y19{bottom:434.830000px;}
.y18{bottom:446.350000px;}
.y17{bottom:457.870000px;}
.y16{bottom:469.390000px;}
.y15{bottom:480.910000px;}
.y14{bottom:492.310000px;}
.y13{bottom:503.830000px;}
.y12{bottom:515.350000px;}
.y11{bottom:526.870000px;}
.y10{bottom:538.390000px;}
.yf{bottom:549.940000px;}
.ye{bottom:561.340000px;}
.yd{bottom:572.860000px;}
.yc{bottom:584.380000px;}
.yb{bottom:595.900000px;}
.ya{bottom:607.420000px;}
.y9{bottom:618.940000px;}
.y8{bottom:630.340000px;}
.y7{bottom:641.860000px;}
.y6{bottom:653.380000px;}
.y5{bottom:664.900000px;}
.y4{bottom:676.420000px;}
.y3{bottom:687.940000px;}
.y2{bottom:699.340000px;}
.y1{bottom:710.860000px;}
.h2{height:35.112891px;}
.h1{height:41.415703px;}
.h0{height:792.000000px;}
.w1{width:611.999991px;}
.w0{width:612.000000px;}
.x0{left:0.000009px;}
.x1{left:72.023991px;}
.x2{left:90.023991px;}
.x3{left:108.019991px;}
.x4{left:126.019991px;}
.x5{left:144.019991px;}
.x6{left:162.019991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls11{letter-spacing:-0.960000pt;}
.lsd{letter-spacing:-0.592000pt;}
.lse{letter-spacing:-0.367467pt;}
.ls13{letter-spacing:-0.320000pt;}
.ls3{letter-spacing:-0.259200pt;}
.ls19{letter-spacing:-0.230933pt;}
.ls9{letter-spacing:-0.183467pt;}
.ls8{letter-spacing:-0.173333pt;}
.ls10{letter-spacing:-0.115200pt;}
.ls7{letter-spacing:-0.094933pt;}
.lsb{letter-spacing:-0.047360pt;}
.ls18{letter-spacing:-0.000640pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.047360pt;}
.lsa{letter-spacing:0.094933pt;}
.ls16{letter-spacing:0.136533pt;}
.lsf{letter-spacing:0.137600pt;}
.ls4{letter-spacing:0.160000pt;}
.ls1{letter-spacing:0.230933pt;}
.ls5{letter-spacing:0.320000pt;}
.ls17{letter-spacing:0.456533pt;}
.ls12{letter-spacing:0.592000pt;}
.ls6{letter-spacing:0.725333pt;}
.lsc{letter-spacing:0.736000pt;}
.ls15{letter-spacing:0.821333pt;}
.ls14{letter-spacing:0.960000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.965440pt;}
._0{width:1.752960pt;}
._1{width:3.325227pt;}
._3{width:4.746027pt;}
.fs0{font-size:53.120000pt;}
.y0{bottom:0.000000pt;}
.y38{bottom:104.512000pt;}
.y37{bottom:119.872000pt;}
.y36{bottom:135.066667pt;}
.y35{bottom:150.426667pt;}
.y34{bottom:165.786667pt;}
.y33{bottom:181.146667pt;}
.y32{bottom:196.506667pt;}
.y31{bottom:211.866667pt;}
.y30{bottom:227.066667pt;}
.y2f{bottom:242.426667pt;}
.y2e{bottom:257.786667pt;}
.y2d{bottom:273.146667pt;}
.y2c{bottom:288.546667pt;}
.y2b{bottom:303.906667pt;}
.y2a{bottom:319.106667pt;}
.y29{bottom:334.466667pt;}
.y28{bottom:349.826667pt;}
.y27{bottom:365.186667pt;}
.y26{bottom:380.546667pt;}
.y25{bottom:395.746667pt;}
.y24{bottom:411.106667pt;}
.y23{bottom:426.466667pt;}
.y22{bottom:441.826667pt;}
.y21{bottom:457.186667pt;}
.y20{bottom:472.546667pt;}
.y1f{bottom:487.746667pt;}
.y1e{bottom:503.106667pt;}
.y1d{bottom:518.493333pt;}
.y1c{bottom:533.853333pt;}
.y1b{bottom:549.213333pt;}
.y1a{bottom:564.573333pt;}
.y19{bottom:579.773333pt;}
.y18{bottom:595.133333pt;}
.y17{bottom:610.493333pt;}
.y16{bottom:625.853333pt;}
.y15{bottom:641.213333pt;}
.y14{bottom:656.413333pt;}
.y13{bottom:671.773333pt;}
.y12{bottom:687.133333pt;}
.y11{bottom:702.493333pt;}
.y10{bottom:717.853333pt;}
.yf{bottom:733.253333pt;}
.ye{bottom:748.453333pt;}
.yd{bottom:763.813333pt;}
.yc{bottom:779.173333pt;}
.yb{bottom:794.533333pt;}
.ya{bottom:809.893333pt;}
.y9{bottom:825.253333pt;}
.y8{bottom:840.453333pt;}
.y7{bottom:855.813333pt;}
.y6{bottom:871.173333pt;}
.y5{bottom:886.533333pt;}
.y4{bottom:901.893333pt;}
.y3{bottom:917.253333pt;}
.y2{bottom:932.453333pt;}
.y1{bottom:947.813333pt;}
.h2{height:46.817188pt;}
.h1{height:55.220937pt;}
.h0{height:1056.000000pt;}
.w1{width:815.999988pt;}
.w0{width:816.000000pt;}
.x0{left:0.000012pt;}
.x1{left:96.031988pt;}
.x2{left:120.031988pt;}
.x3{left:144.026655pt;}
.x4{left:168.026655pt;}
.x5{left:192.026655pt;}
.x6{left:216.026655pt;}
}
